.meal-details {
    width: 200px;
    height: 220px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left:10px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.meal-details:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3), 0 16px 40px rgba(0, 0, 0, 0.2);
}


.meal-img{
    height: 150px;
}
.meal-img img{
    height: 150px;
    width: 200px;
}

.meal-name h3{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    word-wrap: break-word;
}