.recipies .drinks{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.drinks{
    margin-top: 30px;
}
.recepie-heading  {
    margin-left: 60px;
}
.drinks-heading{
    margin-left: 60px;
}
.card-components{
    margin-top: 15px;
    margin-left: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}