.loader-container, .loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loader {
  width: 30px;
  height: 30px;
  border: 5px solid lightgray;
  border-radius: 50%;
  border-top: 5px solid wheat;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}