.recpie-drink-container{
    min-height: 100vh;
    margin-top: 30px;
    
}

.recpie-cards{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.recepie-filter{
    display: flex;
    justify-content: center;
    gap: 8px;
    float: right;
    margin-right: 20px;
}
.recepie-filter select{
    padding: 5px 8px;
    border-radius: 5px;
    width: 120px;
    border: 2px solid grey;
    cursor: pointer;
    color: black;
    background-color: white;
    font-size: 16px;
}




.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin-top: 10px;
}

.pagination button{
    padding: 8px 16px;
    margin: 0 5px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    color: wheat;
    cursor: pointer;
    
}
.recpie-drink-heading{
    margin-left: 75px;
    
}
