.movie-details {
  text-align: center;
  color: var(--text-color);
  margin-top: 10px;
}

.movie-details p {
  margin-top: 5px;
  font-size: 17px;
}

.movie-details-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow-x: hidden;
  padding: 20px;
  box-sizing: border-box;
}

.movie-detail {
  flex: 1;
  max-width: 65%;
  color: var(--btn-bg);
}

.sub-details {
  display: flex;
  margin-top: 5px;
  gap: 20px;
  margin-left: 22px;
  flex-wrap: wrap;
  font-weight: 800;
}

.movie-detail h1 {
  text-align: left;
  color: var(--btn-bg);
}

.movie-descrpition {
  text-align: left;
  margin-left: 22px;
  margin-top: 20px;
  white-space: normal;
  word-wrap: break-word;
  line-height: 1.6;
  font-size: 25px;
}

.movie-other-detailss p {
  text-align: left;
  margin-top: 10px;
  margin-left: 22px;
  font-weight: 800;
}

.movie-poster {
  max-width: 30%;
  flex-shrink: 0;
  margin-right: 100px;
}

.movie-poster img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}


.movie-list {
  min-height: 100vh;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.heading h1 {
  color: var(--text-color);
}

.heading {
  width: 100%;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  text-align: center;
  color: var(--btn-bg);
}

.movie-card {
  display: flex;
  flex-wrap: wrap;
}
