.movie-list {
  min-height: 100vh;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
  box-sizing: border-box;
}

.headingss h1 {
  color: var(--btn-bg);
}

.heading {
  width: 100%;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  text-align: center;
  color: var(--text-color);
}

.movie-card {
  display: flex;
  flex-wrap: wrap;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

.pagination button {
  padding: 8px 14px;
  border: 1px solid var(--card-bg);
  background: var(--btn-text);
  color: var(--btn-bg);
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.pagination button:hover:not(:disabled) {
  background: var(--btn-bg);
  color: var(--btn-text);
}

.pagination button.active {
  background: var(--btn-bg);
  color: var(--btn-text);
  font-weight: bold;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}