*{
  margin: 0;
  padding: 0;
}

img{
  width: 100px;
}

.productCardContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
}
.productsGrid{

  display: flex;
  gap: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
   width: 100%;      /* let flex handle sizing */
  max-width: 1200px;;
  flex-wrap: wrap;
  
}
.products{
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  height: 200px;
  width: 200px;
}
button{
  cursor: pointer;
}

/* tablet */
@media (min-width:600px) {
  .products{
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (min-width: 1024px) {
  .products {
    flex: 1 1 22%; 
    max-width: 22%;
  }
}